.orders-table{
    background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%);
    background: linear-gradient(to bottom, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%);
    text-align: center;
    border: 2px double cornsilk;
    border-collapse: collapse;
}

.orders-table td,th{
    padding: 10px;
    border: 2px inset cornsilk;
}

.orders-button{
    background-color: honeydew;
    border-radius: 5px;
    color: black;
}


.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media (max-width: 540px) {
    .stacktable.large-only { display: none; }
    .stacktable.small-only { display: table; }
}